# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Excel temporary files
~$*.xlsx
~$*.xls
.~lock.*

# dev
__pycache__
target.html
playground/results
uploader/output

# Cookie state files
oy_state.json

# Task files
# tasks.json
# tasks/ 
